{%- set public_config = {
    "apiUrl": "https://" ~ domain_name ~ "/api",
    "userPoolId": user_pool_id,
    "clientId": app_client_id,
    "cognitoDomain": cognito_domain,
    "appUrl": "https://" ~ domain_name,
    "appName": "Cocktail Database (" ~ (app_env | default("dev")) ~ ")"
} -%}
export default {{ public_config | to_json }};
